.fullpagecompiler{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    
}
.compiler-container{
    width: 100%;
    height:95%;
    background-color:#9FE8FA;
    display: flex;
    justify-content: center;
    align-items: center;

}
.codediv{
    margin-left:40px;
    height:90%;
    width:60%;
    resize:horizontal;
    overflow:auto;
    margin-right:30px;
    background-color: #EFFFFD;
    border-radius: 30px;
    padding:20px;
    font-size:20px;
    border:none;
    box-shadow: 2px 2px 24px 4px rgb(137, 176, 255);
    /* border:10px solid #535C91; */
}
.inputouput{
    flex-grow: 1;
    
    padding: 20px;
    height:95%;
    width:40%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-right:40px;
}
.input1{
    padding:20px;
    font-size:20px;
    border-radius: 30px;
    resize: none;
    height:70%;
    width:100%;
    margin-bottom:15px;
    resize:vertical;
    /* border:10px solid #535C91; */
    background-color: #EFFFFD;
    border:none;
    box-shadow: 2px 2px 24px 4px rgb(137, 176, 255);
}
.output1{
    padding:20px;
    flex-grow: 1;
    font-size:20px;
    border-radius: 30px;
    height:40%;
    width:100%;
    margin-top:15px;
    background-color: #EFFFFD;
    /* border:10px solid #535C91; */
    box-shadow: 2px 2px 24px 4px rgb(137, 176, 255);
    border:none;
}
.outputformat{
    width:100%;
    padding:20px;
    height:100%;
    font-size:20px;
}
.output2{
    width:95%;
    height:100%;
    padding:20px;
    font-size:20px;
    border:none;
    padding: 10px;
    border-radius: 5px;

    background-color: #EFFFFD;
    white-space: pre-wrap;
    overflow-y: auto;
    height: 60% ;
    overflow-x: auto;
}