.footer {
  margin-top: 30px;
  height: 150px;
  width: 100%;
  background-color: #19376d;
  z-index: 1;
  /* border-top:1px solid rgb(1, 11, 24); */
}
.logofoot {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
.logoname {
  margin-right: 14.5%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
.footdiv {
  width: 100%;
  height: 50%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15%;
}

.linkto {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.linksto a {
  font-size: 25px;
  margin-right:100px;
}
.copyright{  
    color:#CDE8E5;
    position: relative;
    left:45%;
}
