@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100..900&display=swap');
.navdiv{
  width:100%;
  height:80px;
  padding-top:10px;
  padding-bottom:10px;
  /* justify-content: center; */
  display:flex;
  align-items: center;
  background-color:#19376D;
}
.logooj{
  height:60px;
  width:60px;
  margin-left:50px;
  margin-right:30px;
  border-radius:100%;
}
li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.logout{
  color:white;
  height:50px;
  width: 50px;
  align-items: center;
}
.logo {
  font-family: "League Spartan",sans-serif;
  font-size:40px;
  color:white;
  margin-left:10px;
  cursor: pointer;
  border-radius: 100%;
  align-items: center;
  width: 15%;
  height: auto;
  margin-right: 40px;
}
.nav-links {
  list-style: none;
  display:flex;
  justify-content:end;
  gap:2rem;
}
.nav-links li {
  display: inline-block;
  padding: 0px 15px;
}
.nav-links li a {
  font-size:24px;
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #FF204E;
}

.logoutdiv{
  display:flex;
  position:relative;  
  align-items: center;
}
.cta{
  font-family: "Montserrat", sans-serif;
  font-size:23px;
}
.cta:hover{
  color:#FF204E;
}
@media screen and (max-width:1300px){
  .navdiv{
    justify-content: left;
  }
  .logo{
    visibility: hidden;
  }
}