.fullpageproblemcompiler{
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  background-color: #9FE8FA;
  /* justify-content: center; */
  /* align-items: center; */
}
.problemandcompiler{
  width: 100%;
  height:100%;  
  display:flex;
}
.problemdetails{
  padding:30px;
  height:90%;
  width:40%;
  resize:horizontal;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
  margin-top:20px;
  background-color:white;
  margin-left:20px;
  border-radius: 30px;
  box-shadow: 2px 2px 24px 4px rgb(89, 175, 255);
}
.compilerandoutput{
  margin-top:20px;
  height:95%;
  width:60%;
  flex-grow: 1;
  background-color:#9FE8FA;
  margin-left:30px;
  margin-right:20px;
}
.compileralone{
  padding:30px;
  font-size:20px;
  overflow-y: auto;
  overflow-x: auto;
  height:60%;
  border-radius: 30px;
  resize:vertical;
  overflow: auto;
  flex-grow: 1;
  width:95%;
  background-color: white;
  box-shadow: 2px 2px 24px 4px rgb(89, 175, 255);
  border:none;
}
.submitbutton{
  position:absolute;
  background-color: #EFFFFD;
    height:60px;
    
    width:6%;
    cursor:pointer;
    font-size:25px;
    border-radius: 20px;
    margin-top:25px;
    margin-left:70%;
    border:none;
    box-shadow: 2px 2px 24px 4px rgb(117, 214, 244);
}
.submitbutton:hover{

  background-color:#448EF6;
}
.problemdetails h2{
  font-size:34px;
}
.problemdetails p{
  font-size:20px;
}
.viewset{
  margin-top:15px;
  margin-bottom:15px;
  display:flex;
  gap:30px;
  justify-content: center;
  align-items: center;
}
.viewset button{
  font-size:20px;
  height:40px;
  width:100px;
  background-color: #448EF6;
  cursor:pointer;
  border:none;
  border-radius: 10px;
  color:white;
}
.viewset button:hover{
  background-color:#EFFFFD;
  color:black;
}
.viewset button:focus{
  background-color:#EFFFFD;
  color:black;
}
.viewbox{
  height:22.5%;
  width:97%;
}
.inputview{
  padding:20px;
  font-size: 20px;
  border:none;
  height:100%;
  width:100%;
  border-radius:30px;
  background-color: white;
  resize:none;
  flex-grow: 1;
  overflow: auto;
  box-shadow: 2px 2px 24px 4px rgb(117, 214, 244);
}